<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs', {title: 'About'}) %>
    <link rel="stylesheet" href="/styles/about.css">
</head>

<body>
    <%- include('./partials/nav.ejs') %>


    <main>
        <section class="about-content">
            <h1>The watchlist is a movie backlogging app, for movie lovers, by movie lovers!</h1>
            <p>Are you a fan of the fine cinema? Use our intuitive app to log your favorite movies today. Do a quick search by name, find your favorite movies, and add them to your watchlist today. Once you have watched a movie, you can leave it a review to remind yourself if you enjoyed it or not. Take hold of your backlog with The Watchlist today!</p>
        </section>
       
        <%- include('./partials/features.ejs') %>

    </main>
    <%- include('./partials/footer-wrap.ejs') %>

    <%- include('./partials/footer.ejs') %>
</body>

</html>
