<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs', {title: 'Movie App'}) %>
    <link rel="stylesheet" href="/styles/home.css">
</head>

<body>
    <%- include('./partials/nav.ejs') %>

    <section class="hero">
        <h2>Log Your Movies</h2>
        <h3>Use our intuitive app to log your movies today</h3>
        <a href="/about">About</a>
    </section>

    <main>
        <section class="listings">
            <ul>
                <% for (let movie of movies) { %>
                <li>
                    <div class="card">
                        <img src="<%= movie.photo %>">
                        <div class="caption">
                            <h4><%= movie.name %></h4>
                            <a href="/movies/<%= movie._id %>">Details</a>
                        </div>
                    </div>
                </li>
                <% } %>
            </ul>
        </section>
    </main>

    <%- include('./partials/footer.ejs') %>
</body>

</html>

