<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs', {title: 'Write a review'}) %>
    <link rel="stylesheet" href="/styles/form.css">
</head>

<body>
    <%- include('../partials/nav.ejs') %>

    <h4 class="reviewing"><i>You're reviewing <a class="reviewing" href="/movies/<%= movie._id %>"><%= movie.name %></a></i></h4>

    <form action="/reviews/create/<%= movie._id %>" method="POST">
        <!-- reviewer name  -->
        <label for="reviewer">Reviewer:</label><br>
        <input type="text" id="reviewer" name="reviewer" required>
        <br>
        <!-- score  -->
        <label for="score">Score (1-5):</label><br>
        <input type="number" id="score" name="score" min="0" max="5" required>
        <br>
        <!-- content -->
        <label for="content">Comments:</label><br>
        <input type="text" id="content" name="content" required>
        <br>


        <input class ="btn" type="submit" value="Submit">
    </form>
    <%- include('../partials/footer-wrap.ejs') %>

    <%- include('../partials/footer.ejs') %>
</body>

</html>
