<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs', {title: 'Reviews'}) %>
    <link rel="stylesheet" href="/styles/pet-index.css">
</head>

<body>
    <%- include('../partials/nav.ejs') %>

    <main>
        <section class="reviews">
            <ul>
                <% for (let review of reviews) { %>
                <li>
                    <h4><%= review.reviewer %> </h4>
                    <h4><%= review.score %> </h4>
                    <p>Content: <%= review.content %></p>
                    <p>Created: <%= review.date %></p>

                </li>
                <% } %>
            </ul>
        </section>
    </main>
    <%- include('../partials/footer-wrap.ejs') %>

    <%- include('../partials/footer.ejs') %>
</body>

</html>
