<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs', {title: 'Add Movie'}) %>
    <link rel="stylesheet" href="/styles/form.css">
</head>

<body>
    <%- include('../partials/nav.ejs') %>


    <form method="POST" action="/movies">
        <!-- name -->
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" value="<%= movie.original_title %>" required>
        <br>
        <!-- Year -->
        <label for="year">Year:</label>
        <input type="date" id="year" name="year" value="<%= movie.release_date %>" required>
        <br>
        <!-- length -->
        <label for="length">Length:</label>
        <input type="number" id="length" name="length" min="0" value="<%= movie.runtime %>" required>
        <br>
        <!-- photo -->
        <label for="photo">Photo Link:</label>
        <input type="text" id="photo" name="photo" value="<%= `https://image.tmdb.org/t/p/original/${movie.poster_path}` %>" required>
        <br>
        <!-- description -->
        <label for="description">Description:</label>
        <input type="text" id="description" name="description" value="<%= movie.overview %>" required>
        <br>
        <input type="submit" value="Create Movie">
    </form>

    <%- include('../partials/footer.ejs') %>
</body>

</html>