<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs', {title: 'Movie App'}) %>
    <link rel="stylesheet" href="/styles/home.css">
</head>

<body>
    <%- include('../partials/nav.ejs') %>

    <main class="listings">
        <% for (let movie of apiMovies) { %>
            <div class="movie-card">
                <figure>
                    <img src="<%= `https://image.tmdb.org/t/p/original/${movie.poster_path}` %>" alt="<%= movie.title %>" />
                    <figcaption>
                        <h4><%= movie.title %></h4>
                        <a href="new/<%= movie.id %>">Log Movie</a>
                    </figcaption>
                </figure>
            </div>
        <% } %>
    </main>
    

    <%- include('../partials/footer-wrap.ejs') %>


    <%- include('../partials/footer.ejs') %>
</body>

</html>


