<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs', {title: 'Movie App'}) %>
    <link rel="stylesheet" href="/styles/home.css">
</head>

<body>
    <%- include('../partials/nav.ejs') %>


    <h2>Your Backlog:</h2>
    <section class="listings">

        <% for (let movie of movies) { %>
            <div class="movie-card">
                <img src="<%= movie.photo %>">
                <div class="caption">
                    <h4><%= movie.name %></h4>
                    <a href="/movies/<%= movie._id %>">Details</a>
                </div>
            </div>
        <% } %>
    </section>
    </main>
    <%- include('../partials/footer-wrap.ejs') %>

    <%- include('../partials/footer.ejs') %>
</body>

</html>
