<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs', {title: `${movie.name} | Details`}) %>
    <link rel="stylesheet" href="/styles/movie-details.css">
</head>

<body>
    <%- include('../partials/nav.ejs') %>

    <div class="movie-card">
        <img src="<%= movie.photo %>">
        <h2 class="pet-name"><%= movie.name %></h2>
        <section>
            <p><%= movie.length %> minutes long</p>
            <p>released in <%= movie.year %></p>
            <p>genre: <%= movie.genre %></p>
            <p>Description: <%= movie.description %></p>
        </section>
        <section class="buttons">
            <button class="btn"><a href="/movies/<%= movie._id %>/edit">Edit</a></button>
            <form method="POST" action="/movies/<%= movie._id %>?_method=DELETE">
                <input class="btn" type="submit" value="Delete" />
            </form>
        </section>
    </div>

    <%- include('../partials/footer.ejs') %>
</body>

</html>
