<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs', {title: `${movie.name} | Details`}) %>
    <link rel="stylesheet" href="/styles/movie-details.css">
</head>

<body>
    <%- include('../partials/nav.ejs') %>

    <div class="movie-card">
        <img src="<%= movie.photo %>">
        <h2 class="pet-name"><%= movie.name %></h2>
        <section>
            <p><%= movie.length %> minutes long</p>
            <p>released on <%= movie.year %></p>
            <p>Description: <%= movie.description %></p>
            <p><strong>Review:</strong></p>
            <% for (let review of movie.reviews) { %>
                <p>Name: <%= review.reviewer %></p>
                <p>score:
                    <br> 
                    <% if (review.score === 0) { %>
                        <img class="stars" src="/assets/score-0.png"/>
                    <% } else if (review.score === 1) { %>
                        <img class="stars" src="/assets/score-1.png"/>
                    <% } else if (review.score === 2) { %>
                        <img class="stars" src="/assets/score-2.png"/>
                    <% } else if (review.score === 3) { %>
                        <img class="stars" src="/assets/score-3.png"/>
                    <% } else if (review.score === 4) { %>
                        <img class="stars" src="/assets/score-4.png"/>
                    <% } else if (review.score === 5) { %>
                        <img class="stars" src="/assets/score-5.png"/>
                    <% } %>
                <p>Review: <%= review.content %></p>
                <% } %>
        </section>
        <section class="buttons">
            <button class="btn"><a href="/reviews/new/<%= movie._id %>">Review</a></button>
            <button class="btn"><a href="/movies/<%= movie._id %>/edit">Edit</a></button>
            <form method="POST" action="/movies/<%= movie._id %>?_method=DELETE">
                <input class="btn" type="submit" value="Delete" />
            </form>
        </section>
    </div>
    <%- include('../partials/footer-wrap.ejs') %>

    <%- include('../partials/footer.ejs') %>
</body>

</html>
